* {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto,sans-serif;
  margin: 0px;
  height: 100%;
  min-height: 100%;

  --text: #000000;
  --sidebar: #1976d2;
  --sidebar-hover: #2b81d5;
  --sidebar-light: #94C9FF;
  --sidebar-text: #ffffff;
  --header: #000000;
  --header-light: #131313;
  --header-text: #ffffff;
  --header-height: 64px;
  --sidebar-width: 200px;
}

#svelte {
  width: 100%;
  height: 100%;
}

/** LAYOUT **/
.page {
  display: flex;
  width: 100%;
  min-height: calc(100% - var(--header-height));
  align-items: stretch;
}
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: var(--sidebar-width);
  padding: 1.25rem 0.5rem;
  background-color: var(--sidebar);
  color: var(--sidebar-text);
}

.sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.sidebar p {
  margin: 0px;
}

.sidebar a {
  color: inherit;
  font-weight: 500;
  display: block;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: var(--sidebar-hover);
}

.sidebar hr {
  border-top: 1px solid var(--sidebar-light);
  width: 75%;
}
.container {
  flex-grow: 3;
}
.header {
  min-height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--header);
  color: var(--header-text);
}
.header .title {
  font-size: 1.25rem;
  color: var(--header-text);
  text-decoration: none;
}
.header .burger {
  display: none;
  padding: 0.25rem 0.25rem;
  margin: 0px 0.75rem;
  border-radius: 0.2rem;
}

.header .burger:hover {
  background-color: var(--header-light);
}

@media screen and (max-width: 800px) {
  .header .burger {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .sidebar.active {
    display: flex;
  }

  .header .title {
    display: none;
  }

}


/** CONTENT **/
.content {
  margin: 1rem;
}

.content .note {
  display: inline-block;
  padding: 1rem;
  background-color: var(--sidebar-light);
  border-radius: 0.25rem;
}

.content img {
  display: block;
  max-width: 50%;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-height: max(25vh, 150px);
}

.content .footnote-item p {
  margin: 0px;
  display: inline;
}

.content .footnotes-list {
  counter-reset: list;
  padding: 0rem 0rem;
}

.content .footnote-item {
  list-style: none;
}
.content .footnote-item:before {
  content: "[" counter(list) "]";
  margin-right: 0.5rem;
  counter-increment: list;
}

.content .footnote-backref {
  text-decoration: none;
}

.content .edit-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: gray;
}

.content a[href^="http"]:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNqEkIEJwCAMBGPpEs7hHK6hY+gauoZr6Bo6RtqEWkxb6EMQnuM/USEirIoxSmOKwDkhBEwp4VPkb4801Xun9xW4e+9FldYarLUvkBPPOp4JGWOgtSaSt6VWQKUU9nPOEiSIgAmNMdadFTjn7utqrXwh6fLvH9nXhamW5ksMnpfDnw4BBgBfunO056MmqAAAAABJRU5ErkJggg==);
}